.tint{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
.r-180{
    transform: rotate(180deg);
}
@media (max-width: 640px) {
    .is-sticky-product-bar .sticky-product-bar {
        bottom: 60px;
        z-index: 100;
    }
}
.s-user-menu-toggler.opened .s-user-menu-dropdown{
    right: 0;
}