// Colors
$main-color: var(--color-primary);
$infinite-color: var(--infinite-color);
$main-text-color: var(--main-text-color);

:root {
  /* Dark theme colors */
  --infinite-color: #333; /* Adjusted for dark theme */
  --main-text-color: #e0e0e0; /* Light color for text on dark background */
  --main-text-color-dark: #c0c0c0; /* Slightly darker text color if needed */

  /* current */
  --color-primary: #4a90e2; /* A darker primary color */
  --color-primary-d: #1c2b36; /* Darker shade of the primary color */
  --color-primary-l: #7b9ac6; /* Lighter shade of the primary color */
  --color-primary-reverse: #ff3b3b; /* Adjusted for dark theme */
  --color-text: #b0b0b0; /* Adjusted text color for better visibility */
  --bg-gray: #1f1f1f; /* Darker background gray */
  --color-grey: #2c2c2c; /* Darker grey color */
  --color-light-grey: #3d3d3d; /* Lighter grey color for dark theme */
  
  /* font-size */
  --font-sm: 0.8685714286rem;
  /* font-family: ; */
  --font-main: "DINNextLTArabic";

  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}
